<table id="weaponTable">

  <button (click)="onWeaponCreate()">Nouvelle Arme</button>

  <thead>
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Points</th>
    <th>Modifier</th>
    <th>Supprimer</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let weapon of weaponList | async">
    <td>{{weapon.id}}</td>
    <td>{{weapon.name}}</td>
    <td>{{weapon.points}}</td>
    <td>
      <button (click)="onWeaponEdit(weapon)">Modifier</button>
    </td>
    <td>
      <button (click)="onWeaponDelete(weapon.id)">Supprimer</button>
    </td>
  </tr>
  </tbody>

</table>

<form [formGroup]="weaponForm" (ngSubmit)="onWeaponSave()">
  <label for="weapon-name">Nom</label>
  <input type="text" id="weapon-name" formControlName="name">

  <label for="weapon-points">Points</label>
  <input type="number" id="weapon-points" formControlName="points">

  <button type="submit">Sauvegarder</button>
</form>
