<header>
  <h1>Jeu de plateau</h1>
</header>

<!--<div id="container">-->
<!--  <canvas id="plateau" width="400" height="400"></canvas>-->
<!--</div>-->

<table id="gameTable">

    <thead>
  <tr>
    <th><button></button></th>
    <th><button></button></th>
    <th><button></button></th>
    <th><button>BOSS</button></th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td><button></button></td>
    <td><button></button></td>
    <td><button></button></td>
    <td><button></button></td>
  </tr>
  <tr>
    <td><button></button></td>
    <td><button></button></td>
    <td><button></button></td>
    <td><button></button></td>
  </tr>
  <tr>
    <td><button>Départ</button></td>
    <td><button></button></td>
    <td><button></button></td>
    <td><button></button></td>
  </tr>
  </tbody>
</table>
